{% if interpreter.slug == "python-3" %}
<p><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> 这些任务都是在一天内诞生的，您不应该需要超过一天的时间来解决它们。所有这些任务都可以通过蛮力简单地解决，但这总是最好的方法吗？(您可能还不能完成所有这些任务，但随着地图上开放的岛屿越来越多，您就可以完成这些任务了）。</i></p>
{% endif %}
<p>

    这个任务是系列任务中的第一个。在这里您需要找到由相同字母组成的最长子串的长度。例如，行 "aaabbcaaaa "包含四个由相同字母 "aaa"、"bb"、"c "和 "aaaa "组成的子串。最后一个子串是最长的，因此它就是答案。
</p>


<p>
   <strong>输入 </strong> 字符串
<p>

   <strong>输出： </strong> 一个int。 
</p>

<p style="text-align: center;">
    <img  title="Long repeat" src="{{MEDIA}}drawing.png" alt="example" style="max-height: 80px">
</p>

<div class="for_info_only">
    <p>
        <strong>例如</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>