{% if interpreter.slug == "python-3" %}
<p><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">有四个新任务</a>即将开放，你不应该需要超过一天的时间来完成他们。所有这些任务都可以靠蛮力来完成，但是这并不是最好的办法。（你可能还没有进入这些新任务，他们即将开放在地图上的更多岛屿上）</i></p>
{% endif %}
<p>
这个任务是这个系列中的第一个。在这里你应该找到字符串中最长的相同字符重复出现的次数，并返回它的重复次数。例如：字符串“aaabbcaaaa”包含具有相同字母“aaa”，“bb”，“c”和“aaaa”的四个子字符串。 最后一个子字符串是最长的一个字符串，你应该返回 4 。
</p>


<p>
    <strong>输入: </strong> 一个字符串.

<p>
    <strong>输出: </strong> 一个整数. 
</p>

<p style="text-align: center;">
    <img  title="Long repeat" src="{{MEDIA}}drawing.png" alt="example" style="max-height: 80px">
</p>

<div class="for_info_only">
    <p>
        <strong>例子:</strong>
    </p>
<pre class="brush: python">{% if interpreter.slug == "js-node" %}
longRepeat('sdsffffse') == 4
longRepeat('ddvvrwwwrggg') == 3
{% else %}
long_repeat('sdsffffse') == 4
long_repeat('ddvvrwwwrggg') == 3
{% endif %}</pre>
</div>

