{% if interpreter.slug == "python-3" %}
<p><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> które narodziły się w ciągu jednego dnia, a ich rozwiązanie nie powinno zająć więcej niż jeden dzień. Wszystkie te misje można po prostu rozwiązać brutalną siłą, ale czy zawsze jest to najlepszy sposób? (Być może nie mają Państwo jeszcze dostępu do wszystkich tych misji, ale będą one dostępne wraz z większą liczbą otwartych wysp na mapie).</i></p>
{% endif %}
<p>

    Ta misja jest pierwszą z serii. Proszę znaleźć długość najdłuższego podciągu składającego się z tej samej litery. Na przykład linia "aaabbcaaaa" zawiera cztery podciągi składające się z tych samych liter "aaa", "bb", "c" i "aaaa". Ostatni podciąg jest najdłuższy, co czyni go odpowiedzią.
</p>


<p>
   <strong>Wejście: </strong> Ciąg znaków.
<p>

   <strong>Wyjści </strong> e <strong>: </strong> Wartość typu int. 
</p>

<p style="text-align: center;">
    <img  title="Long repeat" src="{{MEDIA}}drawing.png" alt="example" style="max-height: 80px">
</p>

<div class="for_info_only">
    <p>
        <strong>Przykład:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>